body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16961 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:640px;
}
#u16962 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:260px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16963 {
  position:absolute;
  left:584px;
  top:0px;
  width:640px;
  height:260px;
}
#u16964 {
  position:absolute;
  left:2px;
  top:122px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16966 {
  position:absolute;
  left:584px;
  top:323px;
  width:640px;
  height:60px;
}
#u16967 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16968 {
  position:absolute;
  left:200px;
  top:0px;
  width:76px;
  height:640px;
}
#u16969 {
  position:absolute;
  left:2px;
  top:312px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16970 {
  position:absolute;
  left:213px;
  top:64px;
  width:50px;
  height:50px;
}
#u16971 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16973 {
  position:absolute;
  left:226px;
  top:201px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16974 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u16975 {
  position:absolute;
  left:219px;
  top:167px;
  width:38px;
  height:30px;
}
#u16976 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16978 {
  position:absolute;
  left:226px;
  top:287px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16979 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u16980 {
  position:absolute;
  left:221px;
  top:253px;
  width:34px;
  height:30px;
}
#u16981 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16983 {
  position:absolute;
  left:226px;
  top:544px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16984 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u16985 {
  position:absolute;
  left:220px;
  top:510px;
  width:36px;
  height:30px;
}
#u16986 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u16988 {
  position:absolute;
  left:221px;
  top:424px;
  width:35px;
  height:30px;
}
#u16989 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16990 {
  position:absolute;
  left:226px;
  top:458px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u16991 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u16993 {
  position:absolute;
  left:225px;
  top:338px;
  width:26px;
  height:30px;
}
#u16994 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u16995 {
  position:absolute;
  left:214px;
  top:373px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u16996 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16998 {
  position:absolute;
  left:284px;
  top:196px;
  width:300px;
  height:88px;
}
#u16999 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17000 {
  position:absolute;
  left:276px;
  top:196px;
  width:8px;
  height:88px;
}
#u17001 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17002 {
  position:absolute;
  left:284px;
  top:215px;
  width:50px;
  height:50px;
}
#u17003 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17004 {
  position:absolute;
  left:342px;
  top:231px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17005 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u17006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17007 {
  position:absolute;
  left:284px;
  top:0px;
  width:300px;
  height:108px;
}
#u17008 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17009 {
  position:absolute;
  left:342px;
  top:55px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17010 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17011 {
  position:absolute;
  left:276px;
  top:0px;
  width:8px;
  height:108px;
}
#u17012 {
  position:absolute;
  left:2px;
  top:46px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17013 {
  position:absolute;
  left:284px;
  top:39px;
  width:50px;
  height:50px;
}
#u17014 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17016 {
  position:absolute;
  left:284px;
  top:108px;
  width:300px;
  height:88px;
}
#u17017 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17018 {
  position:absolute;
  left:284px;
  top:127px;
  width:50px;
  height:50px;
}
#u17019 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17020 {
  position:absolute;
  left:342px;
  top:143px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17021 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17022 {
  position:absolute;
  left:276px;
  top:108px;
  width:8px;
  height:88px;
}
#u17023 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17025 {
  position:absolute;
  left:284px;
  top:284px;
  width:300px;
  height:88px;
}
#u17026 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17027 {
  position:absolute;
  left:276px;
  top:284px;
  width:8px;
  height:88px;
}
#u17028 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17029 {
  position:absolute;
  left:284px;
  top:303px;
  width:50px;
  height:50px;
}
#u17030 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17031 {
  position:absolute;
  left:342px;
  top:319px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17032 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u17033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17034 {
  position:absolute;
  left:276px;
  top:372px;
  width:308px;
  height:88px;
}
#u17035 {
  position:absolute;
  left:2px;
  top:36px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17036 {
  position:absolute;
  left:284px;
  top:391px;
  width:50px;
  height:50px;
}
#u17037 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17038 {
  position:absolute;
  left:342px;
  top:407px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17039 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u17040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17040 {
  position:absolute;
  left:276px;
  top:460px;
  width:308px;
  height:180px;
}
#u17041 {
  position:absolute;
  left:2px;
  top:82px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:45px;
}
#u17042 {
  position:absolute;
  left:584px;
  top:20px;
  width:640px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u17043 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17045 {
  position:absolute;
  left:592px;
  top:235px;
  width:632px;
  height:44px;
}
#u17046 {
  position:absolute;
  left:2px;
  top:14px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17047 {
  position:absolute;
  left:584px;
  top:235px;
  width:8px;
  height:44px;
}
#u17048 {
  position:absolute;
  left:2px;
  top:14px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17049 {
  position:absolute;
  left:584px;
  top:279px;
  width:640px;
  height:44px;
}
#u17050 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u17051 {
  position:absolute;
  left:860px;
  top:180px;
  width:88px;
  height:88px;
  font-size:36px;
  color:#FFFFFF;
}
#u17052 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u17053 {
  position:absolute;
  left:776px;
  top:277px;
  width:257px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u17054 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u17055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17055 {
  position:absolute;
  left:752px;
  top:338px;
  width:304px;
  height:30px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17056 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u17057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u17058 {
  position:absolute;
  left:608px;
  top:32px;
  width:69px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u17059 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u17060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u17060 {
  position:absolute;
  left:592px;
  top:33px;
  width:12px;
  height:18px;
}
#u17061 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17063 {
  position:absolute;
  left:592px;
  top:447px;
  width:312px;
  height:44px;
}
#u17064 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17065 {
  position:absolute;
  left:592px;
  top:462px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17066 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17067 {
  position:absolute;
  left:584px;
  top:447px;
  width:8px;
  height:44px;
}
#u17068 {
  position:absolute;
  left:2px;
  top:14px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17070 {
  position:absolute;
  left:904px;
  top:403px;
  width:320px;
  height:44px;
}
#u17071 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17072 {
  position:absolute;
  left:912px;
  top:418px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17073 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17075 {
  position:absolute;
  left:592px;
  top:403px;
  width:312px;
  height:44px;
}
#u17076 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17077 {
  position:absolute;
  left:592px;
  top:418px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17078 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17079 {
  position:absolute;
  left:584px;
  top:403px;
  width:8px;
  height:44px;
}
#u17080 {
  position:absolute;
  left:2px;
  top:14px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17082 {
  position:absolute;
  left:904px;
  top:491px;
  width:320px;
  height:60px;
}
#u17083 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17084 {
  position:absolute;
  left:912px;
  top:506px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17085 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17087 {
  position:absolute;
  left:904px;
  top:447px;
  width:320px;
  height:44px;
}
#u17088 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17089 {
  position:absolute;
  left:912px;
  top:462px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17090 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17092 {
  position:absolute;
  left:584px;
  top:571px;
  width:640px;
  height:69px;
}
#u17093 {
  position:absolute;
  left:2px;
  top:26px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17094 {
  position:absolute;
  left:592px;
  top:586px;
  width:624px;
  height:45px;
  font-size:12px;
}
#u17095 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  word-wrap:break-word;
}
#u17096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17096 {
  position:absolute;
  left:584px;
  top:596px;
  width:640px;
  height:44px;
  color:#FFFFFF;
}
#u17097 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  word-wrap:break-word;
}
#u17098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17099 {
  position:absolute;
  left:786px;
  top:244px;
  width:34px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17100 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u17101 {
  position:absolute;
  left:768px;
  top:243px;
  width:12px;
  height:16px;
}
#u17102 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17103 {
  position:absolute;
  left:592px;
  top:386px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17104 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17105 {
  position:absolute;
  left:592px;
  top:554px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17106 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17108 {
  position:absolute;
  left:1010px;
  top:244px;
  width:34px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17109 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17110 {
  position:absolute;
  left:988px;
  top:244px;
  width:16px;
  height:16px;
}
#u17111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:21px;
}
#u17113 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:20px;
}
#u17114 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u17115 {
  position:absolute;
  left:1189px;
  top:4px;
  width:27px;
  height:12px;
}
#u17116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u17117 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u17118 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17119 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17120 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17121 {
  position:absolute;
  left:696px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17122 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u17123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17123 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u17124 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17125_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:447px;
  height:31px;
}
#u17125 {
  position:absolute;
  left:150px;
  top:40px;
  width:432px;
  height:5px;
}
#u17126 {
  position:absolute;
  left:2px;
  top:-6px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17127 {
  position:absolute;
  left:0px;
  top:331px;
  width:150px;
  height:150px;
}
#u17128 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17129_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:599px;
  height:31px;
}
#u17129 {
  position:absolute;
  left:150px;
  top:358px;
  width:584px;
  height:5px;
}
#u17130 {
  position:absolute;
  left:2px;
  top:-6px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17131_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:97px;
  height:31px;
}
#u17131 {
  position:absolute;
  left:1218px;
  top:617px;
  width:82px;
  height:5px;
}
#u17132 {
  position:absolute;
  left:2px;
  top:-6px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17133 {
  position:absolute;
  left:1300px;
  top:165px;
  width:150px;
  height:150px;
}
#u17134 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17135 {
  position:absolute;
  left:1300px;
  top:327px;
  width:150px;
  height:150px;
}
#u17136 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17137 {
  position:absolute;
  left:1300px;
  top:490px;
  width:150px;
  height:150px;
}
#u17138 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17140 {
  position:absolute;
  left:584px;
  top:491px;
  width:320px;
  height:60px;
}
#u17141 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17142 {
  position:absolute;
  left:592px;
  top:506px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17143 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:213px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u17144 {
  position:absolute;
  left:1234px;
  top:383px;
  width:43px;
  height:213px;
  text-align:center;
}
#u17145 {
  position:absolute;
  left:10px;
  top:58px;
  width:23px;
  word-wrap:break-word;
}
