body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20066 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u20067 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20069 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u20070 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u20071 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u20072 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u20073 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u20074 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20075 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20076 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20077 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20078 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20079 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20080 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20082 {
  position:absolute;
  left:208px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20083 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20085 {
  position:absolute;
  left:477px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20086 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20087 {
  position:absolute;
  left:200px;
  top:64px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u20088 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20089 {
  position:absolute;
  left:208px;
  top:74px;
  width:304px;
  height:25px;
}
#u20089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20090 {
  position:absolute;
  left:495px;
  top:81px;
  width:12px;
  height:12px;
}
#u20091 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20092 {
  position:absolute;
  left:1400px;
  top:600px;
  width:320px;
  height:568px;
}
#u20093 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20095 {
  position:absolute;
  left:1400px;
  top:600px;
  width:320px;
  height:20px;
}
#u20096 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u20097 {
  position:absolute;
  left:1685px;
  top:604px;
  width:27px;
  height:12px;
}
#u20098 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u20099 {
  position:absolute;
  left:1408px;
  top:604px;
  width:17px;
  height:11px;
}
#u20100 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20101 {
  position:absolute;
  left:1427px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20102 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20103 {
  position:absolute;
  left:1544px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20104 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20105 {
  position:absolute;
  left:1400px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20106 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20108 {
  position:absolute;
  left:1408px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20109 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u20111 {
  position:absolute;
  left:1677px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u20112 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20113 {
  position:absolute;
  left:1400px;
  top:664px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u20114 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20115 {
  position:absolute;
  left:1408px;
  top:674px;
  width:304px;
  height:25px;
}
#u20115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20116 {
  position:absolute;
  left:1695px;
  top:681px;
  width:12px;
  height:12px;
}
#u20117 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20118 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:568px;
}
#u20119 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20121 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:20px;
}
#u20122 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u20123 {
  position:absolute;
  left:485px;
  top:604px;
  width:27px;
  height:12px;
}
#u20124 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u20125 {
  position:absolute;
  left:208px;
  top:604px;
  width:17px;
  height:11px;
}
#u20126 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20127 {
  position:absolute;
  left:227px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20128 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20129 {
  position:absolute;
  left:344px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20130 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20131 {
  position:absolute;
  left:200px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20132 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20134 {
  position:absolute;
  left:208px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20135 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20137 {
  position:absolute;
  left:477px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20138 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20139 {
  position:absolute;
  left:200px;
  top:664px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u20140 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20141 {
  position:absolute;
  left:208px;
  top:674px;
  width:304px;
  height:25px;
}
#u20141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20142 {
  position:absolute;
  left:495px;
  top:681px;
  width:12px;
  height:12px;
}
#u20143 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20144 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:568px;
}
#u20145 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20147 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:20px;
}
#u20148 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u20149 {
  position:absolute;
  left:1085px;
  top:604px;
  width:27px;
  height:12px;
}
#u20150 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u20151 {
  position:absolute;
  left:808px;
  top:604px;
  width:17px;
  height:11px;
}
#u20152 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20153 {
  position:absolute;
  left:827px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20154 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20155 {
  position:absolute;
  left:944px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20156 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20157 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20158 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20160 {
  position:absolute;
  left:808px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20161 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20163 {
  position:absolute;
  left:1077px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20164 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20165 {
  position:absolute;
  left:800px;
  top:664px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u20166 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20167 {
  position:absolute;
  left:808px;
  top:674px;
  width:304px;
  height:25px;
}
#u20167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20168 {
  position:absolute;
  left:1095px;
  top:681px;
  width:12px;
  height:12px;
}
#u20169 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u20170 {
  position:absolute;
  left:200px;
  top:348px;
  width:320px;
  height:220px;
}
#u20171 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20172 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:568px;
}
#u20173 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20175 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:20px;
}
#u20176 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u20177 {
  position:absolute;
  left:1085px;
  top:4px;
  width:27px;
  height:12px;
}
#u20178 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u20179 {
  position:absolute;
  left:808px;
  top:4px;
  width:17px;
  height:11px;
}
#u20180 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20181 {
  position:absolute;
  left:827px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20182 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20183 {
  position:absolute;
  left:944px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u20184 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20185 {
  position:absolute;
  left:800px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u20186 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u20187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20188 {
  position:absolute;
  left:808px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u20189 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20191 {
  position:absolute;
  left:1077px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u20192 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20193 {
  position:absolute;
  left:800px;
  top:64px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u20194 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20195 {
  position:absolute;
  left:808px;
  top:74px;
  width:304px;
  height:25px;
}
#u20195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u20196 {
  position:absolute;
  left:800px;
  top:348px;
  width:320px;
  height:220px;
}
#u20197 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u20198 {
  position:absolute;
  left:1400px;
  top:948px;
  width:320px;
  height:220px;
}
#u20199 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u20200 {
  position:absolute;
  left:200px;
  top:948px;
  width:320px;
  height:220px;
}
#u20201 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u20202 {
  position:absolute;
  left:800px;
  top:948px;
  width:320px;
  height:220px;
}
#u20203 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u20204 {
  position:absolute;
  left:200px;
  top:708px;
  width:320px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u20205 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u20206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u20206 {
  position:absolute;
  left:800px;
  top:708px;
  width:320px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u20207 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u20208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20208 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u20209 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20210_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:61px;
  height:31px;
}
#u20210 {
  position:absolute;
  left:152px;
  top:40px;
  width:46px;
  height:5px;
}
#u20211 {
  position:absolute;
  left:2px;
  top:-6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20212 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:231px;
}
#u20213 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20214_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u20214 {
  position:absolute;
  left:522px;
  top:40px;
  width:78px;
  height:5px;
}
#u20215 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20216 {
  position:absolute;
  left:600px;
  top:418px;
  width:150px;
  height:150px;
}
#u20217 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20218_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20218 {
  position:absolute;
  left:750px;
  top:479px;
  width:50px;
  height:5px;
}
#u20219 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20220 {
  position:absolute;
  left:0px;
  top:235px;
  width:150px;
  height:150px;
}
#u20221 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20222_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20222 {
  position:absolute;
  left:150px;
  top:296px;
  width:50px;
  height:5px;
}
#u20223 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20224 {
  position:absolute;
  left:1200px;
  top:809px;
  width:150px;
  height:150px;
}
#u20225 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20226_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20226 {
  position:absolute;
  left:1350px;
  top:870px;
  width:50px;
  height:5px;
}
#u20227 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20228_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u20228 {
  position:absolute;
  left:1722px;
  top:640px;
  width:78px;
  height:5px;
}
#u20229 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20230 {
  position:absolute;
  left:0px;
  top:847px;
  width:150px;
  height:150px;
}
#u20231 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20232_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20232 {
  position:absolute;
  left:150px;
  top:908px;
  width:50px;
  height:5px;
}
#u20233 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20234 {
  position:absolute;
  left:600px;
  top:728px;
  width:150px;
  height:150px;
}
#u20235 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20236_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20236 {
  position:absolute;
  left:750px;
  top:789px;
  width:50px;
  height:5px;
}
#u20237 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20238 {
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:150px;
}
#u20239 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20240_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u20240 {
  position:absolute;
  left:150px;
  top:684px;
  width:50px;
  height:5px;
}
#u20241 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20242 {
  position:absolute;
  left:600px;
  top:249px;
  width:150px;
  height:150px;
}
#u20243 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u20244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:162px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20244 {
  position:absolute;
  left:1800px;
  top:600px;
  width:150px;
  height:162px;
}
#u20245 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
