body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39690 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u39691 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39693 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u39694 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u39695 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u39696 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u39697 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u39698 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39699 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39700 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39701 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39702 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u39703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39703 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39704 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u39705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39706 {
  position:absolute;
  left:208px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39707 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u39708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39708 {
  position:absolute;
  left:200px;
  top:162px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39709 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39710 {
  position:absolute;
  left:208px;
  top:172px;
  width:206px;
  height:25px;
}
#u39710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39711 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u39712 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39713_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u39713 {
  position:absolute;
  left:151px;
  top:40px;
  width:47px;
  height:5px;
}
#u39714 {
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39715 {
  position:absolute;
  left:0px;
  top:162px;
  width:150px;
  height:150px;
}
#u39716 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39717_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u39717 {
  position:absolute;
  left:151px;
  top:182px;
  width:47px;
  height:5px;
}
#u39718 {
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39719 {
  position:absolute;
  left:600px;
  top:160px;
  width:150px;
  height:150px;
}
#u39720 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39721_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:103px;
  height:31px;
}
#u39721 {
  position:absolute;
  left:512px;
  top:176px;
  width:88px;
  height:5px;
}
#u39722 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39723 {
  position:absolute;
  left:0px;
  top:418px;
  width:150px;
  height:150px;
}
#u39724 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39725_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u39725 {
  position:absolute;
  left:151px;
  top:528px;
  width:47px;
  height:5px;
}
#u39726 {
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39727 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:568px;
}
#u39728 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39730 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:20px;
}
#u39731 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u39732 {
  position:absolute;
  left:1085px;
  top:4px;
  width:27px;
  height:12px;
}
#u39733 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u39734 {
  position:absolute;
  left:808px;
  top:4px;
  width:17px;
  height:11px;
}
#u39735 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39736 {
  position:absolute;
  left:827px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39737 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39738 {
  position:absolute;
  left:944px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39739 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u39740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39740 {
  position:absolute;
  left:800px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39741 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u39742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39743 {
  position:absolute;
  left:808px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39744 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u39745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39745 {
  position:absolute;
  left:800px;
  top:162px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39746 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39747 {
  position:absolute;
  left:808px;
  top:172px;
  width:304px;
  height:25px;
}
#u39747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u39749 {
  position:absolute;
  left:800px;
  top:384px;
  width:320px;
  height:184px;
}
#u39750 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u39751 {
  position:absolute;
  left:971px;
  top:179px;
  width:12px;
  height:12px;
}
#u39752 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39753 {
  position:absolute;
  left:1200px;
  top:109px;
  width:150px;
  height:248px;
}
#u39754 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39755_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:103px;
  height:31px;
}
#u39755 {
  position:absolute;
  left:1112px;
  top:176px;
  width:88px;
  height:5px;
}
#u39756 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39757 {
  position:absolute;
  left:200px;
  top:206px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39758 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39759 {
  position:absolute;
  left:208px;
  top:216px;
  width:206px;
  height:25px;
}
#u39759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39760 {
  position:absolute;
  left:392px;
  top:166px;
  width:120px;
  height:36px;
}
#u39761 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u39762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39762 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:150px;
}
#u39763 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39764_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u39764 {
  position:absolute;
  left:520px;
  top:40px;
  width:78px;
  height:5px;
}
#u39765 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39766 {
  position:absolute;
  left:800px;
  top:206px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39767 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39768 {
  position:absolute;
  left:808px;
  top:216px;
  width:206px;
  height:25px;
}
#u39768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39769 {
  position:absolute;
  left:992px;
  top:166px;
  width:120px;
  height:36px;
}
#u39770 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u39771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39771 {
  position:absolute;
  left:600px;
  top:418px;
  width:150px;
  height:150px;
}
#u39772 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39773_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u39773 {
  position:absolute;
  left:751px;
  top:528px;
  width:47px;
  height:5px;
}
#u39774 {
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39775 {
  position:absolute;
  left:1400px;
  top:0px;
  width:320px;
  height:568px;
}
#u39776 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39778 {
  position:absolute;
  left:1400px;
  top:0px;
  width:320px;
  height:20px;
}
#u39779 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u39780 {
  position:absolute;
  left:1685px;
  top:4px;
  width:27px;
  height:12px;
}
#u39781 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u39782 {
  position:absolute;
  left:1408px;
  top:4px;
  width:17px;
  height:11px;
}
#u39783 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39784 {
  position:absolute;
  left:1427px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u39785 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39786 {
  position:absolute;
  left:1544px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u39787 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u39788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39788 {
  position:absolute;
  left:1400px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u39789 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u39790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39791 {
  position:absolute;
  left:1408px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u39792 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u39793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39793 {
  position:absolute;
  left:1400px;
  top:162px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39794 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39795 {
  position:absolute;
  left:1408px;
  top:172px;
  width:304px;
  height:25px;
}
#u39795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u39797 {
  position:absolute;
  left:1400px;
  top:384px;
  width:320px;
  height:184px;
}
#u39798 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u39799 {
  position:absolute;
  left:1571px;
  top:179px;
  width:12px;
  height:12px;
}
#u39800 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39801 {
  position:absolute;
  left:1400px;
  top:206px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u39802 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39803 {
  position:absolute;
  left:1408px;
  top:216px;
  width:206px;
  height:25px;
}
#u39803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39804 {
  position:absolute;
  left:1592px;
  top:166px;
  width:120px;
  height:36px;
}
#u39805 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u39806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39806 {
  position:absolute;
  left:1200px;
  top:418px;
  width:150px;
  height:150px;
}
#u39807 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39808_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:62px;
  height:31px;
}
#u39808 {
  position:absolute;
  left:1351px;
  top:528px;
  width:47px;
  height:5px;
}
#u39809 {
  position:absolute;
  left:2px;
  top:-6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39810 {
  position:absolute;
  left:1800px;
  top:206px;
  width:150px;
  height:150px;
}
#u39811 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39812_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:95px;
  height:31px;
}
#u39812 {
  position:absolute;
  left:1720px;
  top:226px;
  width:80px;
  height:5px;
}
#u39813 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:155px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39814 {
  position:absolute;
  left:1800px;
  top:0px;
  width:150px;
  height:155px;
}
#u39815 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u39816_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:95px;
  height:31px;
}
#u39816 {
  position:absolute;
  left:1720px;
  top:32px;
  width:80px;
  height:5px;
}
#u39817 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u39819 {
  position:absolute;
  left:460px;
  top:32px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u39820 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u39821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u39822 {
  position:absolute;
  left:1060px;
  top:32px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u39823 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u39824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u39825 {
  position:absolute;
  left:1660px;
  top:32px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u39826 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
