
#u16989 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u16990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16991 {
  position:absolute;
  left:2065px;
  top:2428px;
  width:459px;
  height:88px;
}
#u16992 {
  position:absolute;
  left:2px;
  top:36px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16993 {
  position:absolute;
  left:2065px;
  top:2436px;
  width:145px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16994 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u16995 {
  position:absolute;
  left:2065px;
  top:2493px;
  width:150px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u16996 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u16997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u16998 {
  position:absolute;
  left:2065px;
  top:2459px;
  width:17px;
  height:16px;
}
#u16999 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17000 {
  position:absolute;
  left:2084px;
  top:2459px;
  width:17px;
  height:16px;
}
#u17001 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17002 {
  position:absolute;
  left:2104px;
  top:2459px;
  width:17px;
  height:16px;
}
#u17003 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17004 {
  position:absolute;
  left:2123px;
  top:2459px;
  width:17px;
  height:16px;
}
#u17005 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17006 {
  position:absolute;
  left:2143px;
  top:2459px;
  width:17px;
  height:16px;
}
#u17007 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17008 {
  position:absolute;
  left:2057px;
  top:2428px;
  width:8px;
  height:88px;
}
#u17009 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17010 {
  position:absolute;
  left:2223px;
  top:2493px;
  width:157px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17011 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u17012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17013 {
  position:absolute;
  left:2057px;
  top:2516px;
  width:467px;
  height:88px;
}
#u17014 {
  position:absolute;
  left:2px;
  top:36px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17015 {
  position:absolute;
  left:2065px;
  top:2524px;
  width:145px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17016 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u17017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17017 {
  position:absolute;
  left:2065px;
  top:2581px;
  width:150px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17018 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u17019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17020 {
  position:absolute;
  left:2065px;
  top:2547px;
  width:17px;
  height:16px;
}
#u17021 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17022 {
  position:absolute;
  left:2084px;
  top:2547px;
  width:17px;
  height:16px;
}
#u17023 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17024 {
  position:absolute;
  left:2104px;
  top:2547px;
  width:17px;
  height:16px;
}
#u17025 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17026 {
  position:absolute;
  left:2123px;
  top:2547px;
  width:17px;
  height:16px;
}
#u17027 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u17028 {
  position:absolute;
  left:2143px;
  top:2547px;
  width:17px;
  height:16px;
}
#u17029 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17030 {
  position:absolute;
  left:2223px;
  top:2581px;
  width:157px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u17031 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u17032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u17032 {
  position:absolute;
  left:2494px;
  top:2375px;
  width:22px;
  height:18px;
}
#u17033 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u17034 {
  position:absolute;
  left:2494px;
  top:2463px;
  width:22px;
  height:18px;
}
#u17035 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u17036 {
  position:absolute;
  left:2494px;
  top:2551px;
  width:22px;
  height:18px;
}
#u17037 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u17038 {
  position:absolute;
  left:2268px;
  top:2608px;
  width:44px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u17039 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u17040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17040 {
  position:absolute;
  left:1576px;
  top:2696px;
  width:480px;
  height:44px;
  color:#FFFFFF;
}
#u17041 {
  position:absolute;
  left:2px;
  top:14px;
  width:476px;
  word-wrap:break-word;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u17042 {
  position:absolute;
  left:1996px;
  top:2133px;
  width:21px;
  height:18px;
}
#u17043 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u17044 {
  position:absolute;
  left:2025px;
  top:2133px;
  width:22px;
  height:18px;
}
#u17045 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17046 {
  position:absolute;
  left:1500px;
  top:2100px;
  width:1024px;
  height:640px;
}
#u17047 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:21px;
}
#u17049 {
  position:absolute;
  left:1500px;
  top:2100px;
  width:1024px;
  height:20px;
}
#u17050 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u17051 {
  position:absolute;
  left:2489px;
  top:2104px;
  width:27px;
  height:12px;
}
#u17052 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u17053 {
  position:absolute;
  left:1508px;
  top:2104px;
  width:17px;
  height:11px;
}
#u17054 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17055 {
  position:absolute;
  left:1527px;
  top:2102px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17056 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17057 {
  position:absolute;
  left:1996px;
  top:2102px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17058 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u17059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17059 {
  position:absolute;
  left:0px;
  top:2590px;
  width:150px;
  height:150px;
}
#u17060 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17061_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:388px;
  height:31px;
}
#u17061 {
  position:absolute;
  left:150px;
  top:2610px;
  width:373px;
  height:5px;
}
#u17062 {
  position:absolute;
  left:2px;
  top:-6px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17063 {
  position:absolute;
  left:712px;
  top:2626px;
  width:188px;
  height:44px;
  color:#FFFFFF;
}
#u17064 {
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  word-wrap:break-word;
}
#u17065_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:657px;
  height:31px;
}
#u17065 {
  position:absolute;
  left:858px;
  top:2191px;
  width:642px;
  height:5px;
}
#u17066 {
  position:absolute;
  left:2px;
  top:-6px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17067 {
  position:absolute;
  left:1300px;
  top:2100px;
  width:150px;
  height:79px;
}
#u17068 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u17069 {
  position:absolute;
  left:1510px;
  top:2686px;
  width:1004px;
  height:44px;
  color:#333333;
}
#u17070 {
  position:absolute;
  left:2px;
  top:14px;
  width:1000px;
  word-wrap:break-word;
}
#u17071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u17071 {
  position:absolute;
  left:1510px;
  top:2620px;
  width:1004px;
  height:56px;
  color:#333333;
}
#u17072 {
  position:absolute;
  left:2px;
  top:20px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u17073 {
  position:absolute;
  left:1510px;
  top:2576px;
  width:1004px;
  height:44px;
  color:#333333;
}
#u17074 {
  position:absolute;
  left:2px;
  top:14px;
  width:1000px;
  word-wrap:break-word;
}
#u17075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:2px;
}
#u17075 {
  position:absolute;
  left:1510px;
  top:2619px;
  width:1004px;
  height:1px;
}
#u17076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17077 {
  position:absolute;
  left:2600px;
  top:2164px;
  width:150px;
  height:150px;
}
#u17078 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17079_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:91px;
  height:31px;
}
#u17079 {
  position:absolute;
  left:2524px;
  top:2275px;
  width:76px;
  height:5px;
}
#u17080 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17081 {
  position:absolute;
  left:2600px;
  top:2590px;
  width:150px;
  height:150px;
}
#u17082 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17083_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:821px;
  height:31px;
}
#u17083 {
  position:absolute;
  left:1794px;
  top:2646px;
  width:806px;
  height:5px;
}
#u17084 {
  position:absolute;
  left:2px;
  top:-6px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17085_img {
  position:absolute;
  left:-13px;
  top:-13px;
  width:302px;
  height:31px;
}
#u17085 {
  position:absolute;
  left:1224px;
  top:2706px;
  width:286px;
  height:5px;
}
#u17086 {
  position:absolute;
  left:2px;
  top:-6px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u17087 {
  position:absolute;
  left:1300px;
  top:2252px;
  width:150px;
  height:150px;
}
#u17088 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u17089_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:91px;
  height:31px;
}
#u17089 {
  position:absolute;
  left:1224px;
  top:2275px;
  width:76px;
  height:5px;
}
#u17090 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u17091 {
  position:absolute;
  left:1764px;
  top:2627px;
  width:30px;
  height:24px;
}
#u17092 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u17093 {
  position:absolute;
  left:1528px;
  top:2626px;
  width:30px;
  height:25px;
}
#u17094 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17095 {
  position:absolute;
  left:1646px;
  top:2624px;
  width:30px;
  height:30px;
}
#u17096 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17097 {
  position:absolute;
  left:1587px;
  top:2624px;
  width:30px;
  height:30px;
}
#u17098 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u17099 {
  position:absolute;
  left:1705px;
  top:2624px;
  width:30px;
  height:29px;
}
#u17100 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17101 {
  position:absolute;
  left:1519px;
  top:2658px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17102 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17103 {
  position:absolute;
  left:1572px;
  top:2658px;
  width:61px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17104 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17105 {
  position:absolute;
  left:1652px;
  top:2658px;
  width:19px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17106 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u17107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17107 {
  position:absolute;
  left:1699px;
  top:2658px;
  width:43px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17108 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17109 {
  position:absolute;
  left:1755px;
  top:2658px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
