body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3142 {
  position:absolute;
  left:200px;
  top:700px;
  width:1024px;
  height:640px;
}
#u3143 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3144 {
  position:absolute;
  left:200px;
  top:720px;
  width:1024px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3145 {
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  word-wrap:break-word;
}
#u3146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3147 {
  position:absolute;
  left:208px;
  top:732px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3148 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u3150 {
  position:absolute;
  left:1181px;
  top:732px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u3151 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3152 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:640px;
}
#u3153 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3154 {
  position:absolute;
  left:200px;
  top:20px;
  width:1024px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3155 {
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  word-wrap:break-word;
}
#u3156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3157 {
  position:absolute;
  left:208px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3158 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u3160 {
  position:absolute;
  left:1181px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u3161 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3162 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u3163 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3164_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:61px;
  height:31px;
}
#u3164 {
  position:absolute;
  left:152px;
  top:40px;
  width:46px;
  height:5px;
}
#u3165 {
  position:absolute;
  left:2px;
  top:-6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3166 {
  position:absolute;
  left:0px;
  top:64px;
  width:150px;
  height:150px;
}
#u3167 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3168_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u3168 {
  position:absolute;
  left:150px;
  top:85px;
  width:48px;
  height:5px;
}
#u3169 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3170 {
  position:absolute;
  left:1300px;
  top:0px;
  width:150px;
  height:200px;
}
#u3171 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3172_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u3172 {
  position:absolute;
  left:1222px;
  top:40px;
  width:78px;
  height:5px;
}
#u3173 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3174 {
  position:absolute;
  left:0px;
  top:1190px;
  width:150px;
  height:150px;
}
#u3175 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3176_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u3176 {
  position:absolute;
  left:150px;
  top:1251px;
  width:50px;
  height:5px;
}
#u3177 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:162px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3178 {
  position:absolute;
  left:1300px;
  top:700px;
  width:150px;
  height:162px;
}
#u3179 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3180_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u3180 {
  position:absolute;
  left:1222px;
  top:740px;
  width:78px;
  height:5px;
}
#u3181 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3182 {
  position:absolute;
  left:1500px;
  top:0px;
  width:1024px;
  height:640px;
}
#u3183 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3184 {
  position:absolute;
  left:1500px;
  top:20px;
  width:1024px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u3185 {
  position:absolute;
  left:2px;
  top:12px;
  width:1020px;
  word-wrap:break-word;
}
#u3186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3187 {
  position:absolute;
  left:1508px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u3188 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u3190 {
  position:absolute;
  left:2481px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u3191 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3192 {
  position:absolute;
  left:0px;
  top:490px;
  width:150px;
  height:150px;
}
#u3193 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3194_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u3194 {
  position:absolute;
  left:150px;
  top:511px;
  width:48px;
  height:5px;
}
#u3195 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3196 {
  position:absolute;
  left:1300px;
  top:490px;
  width:150px;
  height:150px;
}
#u3197 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3198_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u3198 {
  position:absolute;
  left:1450px;
  top:511px;
  width:48px;
  height:5px;
}
#u3199 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3200 {
  position:absolute;
  left:2600px;
  top:0px;
  width:150px;
  height:150px;
}
#u3201 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3202_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:95px;
  height:31px;
}
#u3202 {
  position:absolute;
  left:2520px;
  top:98px;
  width:80px;
  height:5px;
}
#u3203 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3205 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:20px;
}
#u3206 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u3207 {
  position:absolute;
  left:1189px;
  top:4px;
  width:27px;
  height:12px;
}
#u3208 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u3209 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u3210 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3211 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3212 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3213 {
  position:absolute;
  left:696px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3214 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3216 {
  position:absolute;
  left:1500px;
  top:0px;
  width:1024px;
  height:20px;
}
#u3217 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u3218 {
  position:absolute;
  left:2489px;
  top:4px;
  width:27px;
  height:12px;
}
#u3219 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u3220 {
  position:absolute;
  left:1508px;
  top:4px;
  width:17px;
  height:11px;
}
#u3221 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3222 {
  position:absolute;
  left:1527px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3223 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3224 {
  position:absolute;
  left:1996px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3225 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3227 {
  position:absolute;
  left:200px;
  top:700px;
  width:1024px;
  height:20px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u3229 {
  position:absolute;
  left:1189px;
  top:704px;
  width:27px;
  height:12px;
}
#u3230 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u3231 {
  position:absolute;
  left:208px;
  top:704px;
  width:17px;
  height:11px;
}
#u3232 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3233 {
  position:absolute;
  left:227px;
  top:702px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3235 {
  position:absolute;
  left:696px;
  top:702px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u3236 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:398px;
}
#u3237 {
  position:absolute;
  left:200px;
  top:242px;
  width:1024px;
  height:398px;
}
#u3238 {
  position:absolute;
  left:2px;
  top:191px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:398px;
}
#u3239 {
  position:absolute;
  left:1500px;
  top:242px;
  width:1024px;
  height:398px;
}
#u3240 {
  position:absolute;
  left:2px;
  top:191px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:398px;
}
#u3241 {
  position:absolute;
  left:200px;
  top:942px;
  width:1024px;
  height:398px;
}
#u3242 {
  position:absolute;
  left:2px;
  top:191px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3243 {
  position:absolute;
  left:200px;
  top:764px;
  width:1024px;
  height:44px;
  font-size:12px;
}
#u3244 {
  position:absolute;
  left:2px;
  top:14px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3245 {
  position:absolute;
  left:208px;
  top:774px;
  width:1008px;
  height:25px;
}
#u3245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3246 {
  position:absolute;
  left:1199px;
  top:781px;
  width:12px;
  height:12px;
}
#u3247 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3248 {
  position:absolute;
  left:200px;
  top:64px;
  width:1024px;
  height:44px;
  font-size:12px;
}
#u3249 {
  position:absolute;
  left:2px;
  top:14px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3250 {
  position:absolute;
  left:208px;
  top:74px;
  width:1008px;
  height:25px;
}
#u3250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3251 {
  position:absolute;
  left:1199px;
  top:81px;
  width:12px;
  height:12px;
}
#u3252 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3253 {
  position:absolute;
  left:1500px;
  top:64px;
  width:1024px;
  height:44px;
  font-size:12px;
}
#u3254 {
  position:absolute;
  left:2px;
  top:14px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3255 {
  position:absolute;
  left:1508px;
  top:74px;
  width:1008px;
  height:25px;
}
#u3255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3256 {
  position:absolute;
  left:2499px;
  top:81px;
  width:12px;
  height:12px;
}
#u3257 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
