body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40038 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:568px;
}
#u40039 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40041 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:20px;
}
#u40042 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u40043 {
  position:absolute;
  left:485px;
  top:604px;
  width:27px;
  height:12px;
}
#u40044 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u40045 {
  position:absolute;
  left:208px;
  top:604px;
  width:17px;
  height:11px;
}
#u40046 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40047 {
  position:absolute;
  left:227px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40048 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40049 {
  position:absolute;
  left:344px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40050 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u40051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40051 {
  position:absolute;
  left:200px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40052 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u40053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40054 {
  position:absolute;
  left:208px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40055 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u40057 {
  position:absolute;
  left:460px;
  top:632px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u40058 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u40059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40059 {
  position:absolute;
  left:200px;
  top:664px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u40060 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40061 {
  position:absolute;
  left:208px;
  top:674px;
  width:304px;
  height:25px;
}
#u40061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u40062 {
  position:absolute;
  left:495px;
  top:681px;
  width:12px;
  height:12px;
}
#u40063 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40064 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:568px;
}
#u40065 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40067 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:20px;
}
#u40068 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u40069 {
  position:absolute;
  left:1085px;
  top:604px;
  width:27px;
  height:12px;
}
#u40070 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u40071 {
  position:absolute;
  left:808px;
  top:604px;
  width:17px;
  height:11px;
}
#u40072 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40073 {
  position:absolute;
  left:827px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40074 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40075 {
  position:absolute;
  left:944px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40076 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u40077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40077 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40078 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u40079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40080 {
  position:absolute;
  left:808px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40081 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u40083 {
  position:absolute;
  left:1060px;
  top:632px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u40084 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u40085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40085 {
  position:absolute;
  left:800px;
  top:664px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u40086 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40087 {
  position:absolute;
  left:808px;
  top:674px;
  width:304px;
  height:25px;
}
#u40087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u40088 {
  position:absolute;
  left:1095px;
  top:681px;
  width:12px;
  height:12px;
}
#u40089 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40090 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u40091 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40093 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u40094 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u40095 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u40096 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u40097 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u40098 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40099 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u40100 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40101 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u40102 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u40103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40103 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u40104 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u40105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40106 {
  position:absolute;
  left:208px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u40107 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u40109 {
  position:absolute;
  left:460px;
  top:32px;
  width:52px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#999999;
  text-align:right;
}
#u40110 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u40111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40111 {
  position:absolute;
  left:200px;
  top:64px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u40112 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40113 {
  position:absolute;
  left:208px;
  top:74px;
  width:304px;
  height:25px;
}
#u40113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u40114 {
  position:absolute;
  left:200px;
  top:348px;
  width:320px;
  height:220px;
}
#u40115 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u40116 {
  position:absolute;
  left:200px;
  top:948px;
  width:320px;
  height:220px;
}
#u40117 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u40118 {
  position:absolute;
  left:800px;
  top:948px;
  width:320px;
  height:220px;
}
#u40119 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u40120 {
  position:absolute;
  left:800px;
  top:708px;
  width:320px;
  height:20px;
  font-size:12px;
  color:#FF0000;
}
#u40121 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u40122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40122 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u40123 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40124_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:61px;
  height:31px;
}
#u40124 {
  position:absolute;
  left:152px;
  top:40px;
  width:46px;
  height:5px;
}
#u40125 {
  position:absolute;
  left:2px;
  top:-6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40126 {
  position:absolute;
  left:0px;
  top:64px;
  width:150px;
  height:150px;
}
#u40127 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40128_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u40128 {
  position:absolute;
  left:150px;
  top:85px;
  width:48px;
  height:5px;
}
#u40129 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40130 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:150px;
}
#u40131 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40132_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u40132 {
  position:absolute;
  left:522px;
  top:40px;
  width:78px;
  height:5px;
}
#u40133 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40134 {
  position:absolute;
  left:0px;
  top:809px;
  width:150px;
  height:150px;
}
#u40135 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40136_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u40136 {
  position:absolute;
  left:150px;
  top:870px;
  width:50px;
  height:5px;
}
#u40137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40138 {
  position:absolute;
  left:600px;
  top:600px;
  width:150px;
  height:190px;
}
#u40139 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40140_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u40140 {
  position:absolute;
  left:522px;
  top:640px;
  width:78px;
  height:5px;
}
#u40141 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40142 {
  position:absolute;
  left:600px;
  top:847px;
  width:150px;
  height:150px;
}
#u40143 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40144_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:65px;
  height:31px;
}
#u40144 {
  position:absolute;
  left:750px;
  top:908px;
  width:50px;
  height:5px;
}
#u40145 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u40146 {
  position:absolute;
  left:600px;
  top:230px;
  width:150px;
  height:150px;
}
#u40147 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
