body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5793 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
}
#u5794 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5796 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:20px;
}
#u5797 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u5798 {
  position:absolute;
  left:989px;
  top:4px;
  width:27px;
  height:12px;
}
#u5799 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u5800 {
  position:absolute;
  left:8px;
  top:4px;
  width:17px;
  height:11px;
}
#u5801 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5802 {
  position:absolute;
  left:27px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5804 {
  position:absolute;
  left:496px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5805 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5806 {
  position:absolute;
  left:0px;
  top:20px;
  width:76px;
  height:620px;
}
#u5807 {
  position:absolute;
  left:2px;
  top:302px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5808 {
  position:absolute;
  left:13px;
  top:64px;
  width:50px;
  height:50px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5811 {
  position:absolute;
  left:26px;
  top:201px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5812 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u5813 {
  position:absolute;
  left:19px;
  top:167px;
  width:38px;
  height:30px;
}
#u5814 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5816 {
  position:absolute;
  left:26px;
  top:287px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5817 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u5818 {
  position:absolute;
  left:21px;
  top:253px;
  width:34px;
  height:30px;
}
#u5819 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5821 {
  position:absolute;
  left:26px;
  top:544px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5822 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u5823 {
  position:absolute;
  left:20px;
  top:510px;
  width:36px;
  height:30px;
}
#u5824 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u5826 {
  position:absolute;
  left:21px;
  top:424px;
  width:35px;
  height:30px;
}
#u5827 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5828 {
  position:absolute;
  left:26px;
  top:458px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5829 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u5831 {
  position:absolute;
  left:25px;
  top:338px;
  width:26px;
  height:30px;
}
#u5832 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5833 {
  position:absolute;
  left:14px;
  top:373px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5834 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5836 {
  position:absolute;
  left:84px;
  top:196px;
  width:300px;
  height:88px;
}
#u5837 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5838 {
  position:absolute;
  left:76px;
  top:196px;
  width:8px;
  height:88px;
}
#u5839 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5840 {
  position:absolute;
  left:84px;
  top:215px;
  width:50px;
  height:50px;
}
#u5841 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5842 {
  position:absolute;
  left:142px;
  top:231px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5845 {
  position:absolute;
  left:84px;
  top:20px;
  width:300px;
  height:88px;
}
#u5846 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5847 {
  position:absolute;
  left:142px;
  top:55px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5848 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5849 {
  position:absolute;
  left:76px;
  top:20px;
  width:8px;
  height:88px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5851 {
  position:absolute;
  left:84px;
  top:39px;
  width:50px;
  height:50px;
}
#u5852 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5854 {
  position:absolute;
  left:84px;
  top:108px;
  width:300px;
  height:88px;
}
#u5855 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5856 {
  position:absolute;
  left:142px;
  top:143px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5857 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5858 {
  position:absolute;
  left:76px;
  top:108px;
  width:8px;
  height:88px;
}
#u5859 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5860 {
  position:absolute;
  left:84px;
  top:127px;
  width:50px;
  height:50px;
}
#u5861 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5863 {
  position:absolute;
  left:84px;
  top:284px;
  width:300px;
  height:88px;
}
#u5864 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5865 {
  position:absolute;
  left:76px;
  top:284px;
  width:8px;
  height:88px;
}
#u5866 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5867 {
  position:absolute;
  left:84px;
  top:303px;
  width:50px;
  height:50px;
}
#u5868 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5869 {
  position:absolute;
  left:142px;
  top:319px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5870 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5872 {
  position:absolute;
  left:76px;
  top:372px;
  width:308px;
  height:88px;
}
#u5873 {
  position:absolute;
  left:2px;
  top:36px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5874 {
  position:absolute;
  left:84px;
  top:391px;
  width:50px;
  height:50px;
}
#u5875 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5876 {
  position:absolute;
  left:142px;
  top:407px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5877 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5878 {
  position:absolute;
  left:76px;
  top:460px;
  width:308px;
  height:180px;
}
#u5879 {
  position:absolute;
  left:2px;
  top:82px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u5880 {
  position:absolute;
  left:95px;
  top:49px;
  width:29px;
  height:30px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u5882 {
  position:absolute;
  left:104px;
  top:401px;
  width:10px;
  height:30px;
}
#u5883 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u5884 {
  position:absolute;
  left:98px;
  top:137px;
  width:22px;
  height:30px;
}
#u5885 {
  position:absolute;
  left:2px;
  top:7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u5886 {
  position:absolute;
  left:94px;
  top:228px;
  width:30px;
  height:25px;
}
#u5887 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u5888 {
  position:absolute;
  left:96px;
  top:313px;
  width:27px;
  height:30px;
}
#u5889 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5890 {
  position:absolute;
  left:369px;
  top:58px;
  width:7px;
  height:12px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5892 {
  position:absolute;
  left:369px;
  top:146px;
  width:7px;
  height:12px;
}
#u5893 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5894 {
  position:absolute;
  left:369px;
  top:234px;
  width:7px;
  height:12px;
}
#u5895 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5896 {
  position:absolute;
  left:369px;
  top:322px;
  width:7px;
  height:12px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5898 {
  position:absolute;
  left:369px;
  top:410px;
  width:7px;
  height:12px;
}
#u5899 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u5900 {
  position:absolute;
  left:384px;
  top:20px;
  width:640px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u5901 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u5902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u5902 {
  position:absolute;
  left:579px;
  top:156px;
  width:250px;
  height:250px;
}
#u5903 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5904 {
  position:absolute;
  left:616px;
  top:416px;
  width:177px;
  height:38px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
