body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9820 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u9821 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9823 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u9824 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u9825 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u9826 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u9827 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u9828 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9829 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9830 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9831 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9832 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u9833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9833 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9834 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u9835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9835 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:568px;
}
#u9836 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9838 {
  position:absolute;
  left:200px;
  top:600px;
  width:320px;
  height:20px;
}
#u9839 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u9840 {
  position:absolute;
  left:485px;
  top:604px;
  width:27px;
  height:12px;
}
#u9841 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u9842 {
  position:absolute;
  left:208px;
  top:604px;
  width:17px;
  height:11px;
}
#u9843 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9844 {
  position:absolute;
  left:227px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9845 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9846 {
  position:absolute;
  left:344px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9847 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u9848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9848 {
  position:absolute;
  left:200px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9849 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u9850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9851 {
  position:absolute;
  left:208px;
  top:684px;
  width:312px;
  height:56px;
}
#u9852 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9853 {
  position:absolute;
  left:208px;
  top:694px;
  width:36px;
  height:36px;
}
#u9854 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9855 {
  position:absolute;
  left:252px;
  top:713px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9856 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9857 {
  position:absolute;
  left:252px;
  top:692px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9858 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9859 {
  position:absolute;
  left:200px;
  top:684px;
  width:8px;
  height:56px;
}
#u9860 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u9861 {
  position:absolute;
  left:338px;
  top:1030px;
  width:44px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u9862 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9864 {
  position:absolute;
  left:208px;
  top:740px;
  width:312px;
  height:56px;
}
#u9865 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866 {
  position:absolute;
  left:208px;
  top:750px;
  width:36px;
  height:36px;
}
#u9867 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9868 {
  position:absolute;
  left:252px;
  top:748px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9869 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u9870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9870 {
  position:absolute;
  left:200px;
  top:740px;
  width:8px;
  height:56px;
}
#u9871 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9873 {
  position:absolute;
  left:200px;
  top:964px;
  width:320px;
  height:56px;
}
#u9874 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9875 {
  position:absolute;
  left:208px;
  top:974px;
  width:36px;
  height:36px;
}
#u9876 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9877 {
  position:absolute;
  left:252px;
  top:993px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9878 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9879 {
  position:absolute;
  left:252px;
  top:972px;
  width:43px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9880 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9882 {
  position:absolute;
  left:208px;
  top:908px;
  width:312px;
  height:56px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9884 {
  position:absolute;
  left:208px;
  top:918px;
  width:36px;
  height:36px;
}
#u9885 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9886 {
  position:absolute;
  left:252px;
  top:937px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9887 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9888 {
  position:absolute;
  left:252px;
  top:916px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9889 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9890 {
  position:absolute;
  left:200px;
  top:908px;
  width:8px;
  height:56px;
}
#u9891 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9893 {
  position:absolute;
  left:208px;
  top:796px;
  width:312px;
  height:56px;
}
#u9894 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9895 {
  position:absolute;
  left:208px;
  top:806px;
  width:36px;
  height:36px;
}
#u9896 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9897 {
  position:absolute;
  left:252px;
  top:825px;
  width:163px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9898 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u9899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9899 {
  position:absolute;
  left:252px;
  top:804px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9900 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u9901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9901 {
  position:absolute;
  left:200px;
  top:796px;
  width:8px;
  height:56px;
}
#u9902 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9904 {
  position:absolute;
  left:208px;
  top:852px;
  width:312px;
  height:56px;
}
#u9905 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9906 {
  position:absolute;
  left:208px;
  top:862px;
  width:36px;
  height:36px;
}
#u9907 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9908 {
  position:absolute;
  left:252px;
  top:881px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9909 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9910 {
  position:absolute;
  left:252px;
  top:860px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9911 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u9912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9912 {
  position:absolute;
  left:200px;
  top:852px;
  width:8px;
  height:56px;
}
#u9913 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9914 {
  position:absolute;
  left:296px;
  top:406px;
  width:129px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9915 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u9916 {
  position:absolute;
  left:210px;
  top:225px;
  width:300px;
  height:170px;
}
#u9917 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u9919 {
  position:absolute;
  left:208px;
  top:33px;
  width:12px;
  height:18px;
}
#u9920 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u9921 {
  position:absolute;
  left:224px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u9922 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u9924 {
  position:absolute;
  left:208px;
  top:633px;
  width:12px;
  height:18px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u9926 {
  position:absolute;
  left:224px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9928 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:568px;
}
#u9929 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9931 {
  position:absolute;
  left:800px;
  top:600px;
  width:320px;
  height:20px;
}
#u9932 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u9933 {
  position:absolute;
  left:1085px;
  top:604px;
  width:27px;
  height:12px;
}
#u9934 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u9935 {
  position:absolute;
  left:808px;
  top:604px;
  width:17px;
  height:11px;
}
#u9936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9937 {
  position:absolute;
  left:827px;
  top:602px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9938 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9939 {
  position:absolute;
  left:944px;
  top:602px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u9940 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u9941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9941 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u9942 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u9943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9944 {
  position:absolute;
  left:808px;
  top:684px;
  width:312px;
  height:56px;
}
#u9945 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9946 {
  position:absolute;
  left:808px;
  top:694px;
  width:36px;
  height:36px;
}
#u9947 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9948 {
  position:absolute;
  left:852px;
  top:713px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9949 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9950 {
  position:absolute;
  left:852px;
  top:692px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9951 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9952 {
  position:absolute;
  left:800px;
  top:684px;
  width:8px;
  height:56px;
}
#u9953 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u9954 {
  position:absolute;
  left:938px;
  top:1030px;
  width:44px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9957 {
  position:absolute;
  left:808px;
  top:740px;
  width:312px;
  height:56px;
}
#u9958 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9959 {
  position:absolute;
  left:808px;
  top:750px;
  width:36px;
  height:36px;
}
#u9960 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9961 {
  position:absolute;
  left:852px;
  top:748px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9962 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u9963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9963 {
  position:absolute;
  left:800px;
  top:740px;
  width:8px;
  height:56px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9966 {
  position:absolute;
  left:800px;
  top:964px;
  width:320px;
  height:56px;
}
#u9967 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9968 {
  position:absolute;
  left:808px;
  top:974px;
  width:36px;
  height:36px;
}
#u9969 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9970 {
  position:absolute;
  left:852px;
  top:993px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9972 {
  position:absolute;
  left:852px;
  top:972px;
  width:43px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9975 {
  position:absolute;
  left:808px;
  top:908px;
  width:312px;
  height:56px;
}
#u9976 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9977 {
  position:absolute;
  left:808px;
  top:918px;
  width:36px;
  height:36px;
}
#u9978 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9979 {
  position:absolute;
  left:852px;
  top:937px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9980 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9981 {
  position:absolute;
  left:852px;
  top:916px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9982 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9983 {
  position:absolute;
  left:800px;
  top:908px;
  width:8px;
  height:56px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9986 {
  position:absolute;
  left:808px;
  top:796px;
  width:312px;
  height:56px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9988 {
  position:absolute;
  left:808px;
  top:806px;
  width:36px;
  height:36px;
}
#u9989 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9990 {
  position:absolute;
  left:852px;
  top:825px;
  width:163px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9991 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9992 {
  position:absolute;
  left:852px;
  top:804px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9993 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u9994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9994 {
  position:absolute;
  left:800px;
  top:796px;
  width:8px;
  height:56px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9997 {
  position:absolute;
  left:808px;
  top:852px;
  width:312px;
  height:56px;
}
#u9998 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9999 {
  position:absolute;
  left:808px;
  top:862px;
  width:36px;
  height:36px;
}
#u10000 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10001 {
  position:absolute;
  left:852px;
  top:881px;
  width:223px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10002 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u10003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10003 {
  position:absolute;
  left:852px;
  top:860px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10004 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10005 {
  position:absolute;
  left:800px;
  top:852px;
  width:8px;
  height:56px;
}
#u10006 {
  position:absolute;
  left:2px;
  top:20px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u10008 {
  position:absolute;
  left:808px;
  top:633px;
  width:12px;
  height:18px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u10010 {
  position:absolute;
  left:824px;
  top:632px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u10011 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10012 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u10013 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10014_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10014 {
  position:absolute;
  left:150px;
  top:40px;
  width:48px;
  height:5px;
}
#u10015 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10016 {
  position:absolute;
  left:0px;
  top:266px;
  width:150px;
  height:150px;
}
#u10017 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10018_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10018 {
  position:absolute;
  left:150px;
  top:308px;
  width:48px;
  height:5px;
}
#u10019 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10020 {
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:150px;
}
#u10021 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10022_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10022 {
  position:absolute;
  left:150px;
  top:673px;
  width:48px;
  height:5px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10024 {
  position:absolute;
  left:600px;
  top:600px;
  width:150px;
  height:150px;
}
#u10025 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10026_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10026 {
  position:absolute;
  left:750px;
  top:673px;
  width:48px;
  height:5px;
}
#u10027 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10028 {
  position:absolute;
  left:0px;
  top:763px;
  width:150px;
  height:240px;
}
#u10029 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10030_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10030 {
  position:absolute;
  left:150px;
  top:793px;
  width:48px;
  height:5px;
}
#u10031 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10032 {
  position:absolute;
  left:0px;
  top:1018px;
  width:150px;
  height:150px;
}
#u10033 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10034_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10034 {
  position:absolute;
  left:150px;
  top:1080px;
  width:48px;
  height:5px;
}
#u10035 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10036 {
  position:absolute;
  left:600px;
  top:953px;
  width:150px;
  height:150px;
}
#u10037 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10038_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:95px;
  height:31px;
}
#u10038 {
  position:absolute;
  left:520px;
  top:990px;
  width:80px;
  height:5px;
}
#u10039 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10040 {
  position:absolute;
  left:600px;
  top:773px;
  width:150px;
  height:150px;
}
#u10041 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u10042_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u10042 {
  position:absolute;
  left:750px;
  top:822px;
  width:48px;
  height:5px;
}
#u10043 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
