body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17975 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:640px;
}
#u17976 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17977 {
  position:absolute;
  left:200px;
  top:0px;
  width:76px;
  height:640px;
}
#u17978 {
  position:absolute;
  left:2px;
  top:312px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17979 {
  position:absolute;
  left:213px;
  top:64px;
  width:50px;
  height:50px;
}
#u17980 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17982 {
  position:absolute;
  left:226px;
  top:201px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17983 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u17984 {
  position:absolute;
  left:219px;
  top:167px;
  width:38px;
  height:30px;
}
#u17985 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17987 {
  position:absolute;
  left:226px;
  top:287px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17988 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u17989 {
  position:absolute;
  left:221px;
  top:253px;
  width:34px;
  height:30px;
}
#u17990 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17992 {
  position:absolute;
  left:226px;
  top:544px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17993 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u17994 {
  position:absolute;
  left:220px;
  top:510px;
  width:36px;
  height:30px;
}
#u17995 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u17997 {
  position:absolute;
  left:221px;
  top:424px;
  width:35px;
  height:30px;
}
#u17998 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17999 {
  position:absolute;
  left:226px;
  top:458px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18000 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u18002 {
  position:absolute;
  left:225px;
  top:338px;
  width:26px;
  height:30px;
}
#u18003 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u18004 {
  position:absolute;
  left:214px;
  top:373px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u18005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18007 {
  position:absolute;
  left:284px;
  top:196px;
  width:300px;
  height:88px;
}
#u18008 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18009 {
  position:absolute;
  left:276px;
  top:196px;
  width:8px;
  height:88px;
}
#u18010 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18011 {
  position:absolute;
  left:284px;
  top:215px;
  width:50px;
  height:50px;
}
#u18012 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18013 {
  position:absolute;
  left:342px;
  top:231px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18014 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u18015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18016 {
  position:absolute;
  left:284px;
  top:0px;
  width:300px;
  height:108px;
}
#u18017 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18018 {
  position:absolute;
  left:342px;
  top:55px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18019 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:108px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18020 {
  position:absolute;
  left:276px;
  top:0px;
  width:8px;
  height:108px;
}
#u18021 {
  position:absolute;
  left:2px;
  top:46px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18022 {
  position:absolute;
  left:284px;
  top:39px;
  width:50px;
  height:50px;
}
#u18023 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18025 {
  position:absolute;
  left:284px;
  top:108px;
  width:300px;
  height:88px;
}
#u18026 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18027 {
  position:absolute;
  left:284px;
  top:127px;
  width:50px;
  height:50px;
}
#u18028 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18029 {
  position:absolute;
  left:342px;
  top:143px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18030 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18031 {
  position:absolute;
  left:276px;
  top:108px;
  width:8px;
  height:88px;
}
#u18032 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18034 {
  position:absolute;
  left:284px;
  top:284px;
  width:300px;
  height:88px;
}
#u18035 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18036 {
  position:absolute;
  left:276px;
  top:284px;
  width:8px;
  height:88px;
}
#u18037 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18038 {
  position:absolute;
  left:284px;
  top:303px;
  width:50px;
  height:50px;
}
#u18039 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18040 {
  position:absolute;
  left:342px;
  top:319px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18041 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18043 {
  position:absolute;
  left:276px;
  top:372px;
  width:308px;
  height:88px;
}
#u18044 {
  position:absolute;
  left:2px;
  top:36px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18045 {
  position:absolute;
  left:284px;
  top:391px;
  width:50px;
  height:50px;
}
#u18046 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18047 {
  position:absolute;
  left:342px;
  top:407px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18048 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18049 {
  position:absolute;
  left:276px;
  top:460px;
  width:308px;
  height:180px;
}
#u18050 {
  position:absolute;
  left:2px;
  top:82px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18051 {
  position:absolute;
  left:584px;
  top:20px;
  width:640px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18052 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u18053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u18054 {
  position:absolute;
  left:592px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u18055 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u18057 {
  position:absolute;
  left:1181px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u18058 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18059 {
  position:absolute;
  left:584px;
  top:84px;
  width:640px;
  height:44px;
  font-size:12px;
}
#u18060 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18061 {
  position:absolute;
  left:592px;
  top:94px;
  width:624px;
  height:25px;
}
#u18061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18062 {
  position:absolute;
  left:1199px;
  top:101px;
  width:12px;
  height:12px;
}
#u18063 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18064 {
  position:absolute;
  left:592px;
  top:67px;
  width:193px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18065 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u18066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:398px;
}
#u18066 {
  position:absolute;
  left:200px;
  top:242px;
  width:1024px;
  height:398px;
}
#u18067 {
  position:absolute;
  left:2px;
  top:191px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:64px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18068 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:64px;
}
#u18069 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18070_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:447px;
  height:31px;
}
#u18070 {
  position:absolute;
  left:150px;
  top:40px;
  width:432px;
  height:5px;
}
#u18071 {
  position:absolute;
  left:2px;
  top:-6px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18072 {
  position:absolute;
  left:0px;
  top:84px;
  width:150px;
  height:150px;
}
#u18073 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18074_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:449px;
  height:31px;
}
#u18074 {
  position:absolute;
  left:150px;
  top:104px;
  width:434px;
  height:5px;
}
#u18075 {
  position:absolute;
  left:2px;
  top:-6px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18076 {
  position:absolute;
  left:0px;
  top:490px;
  width:150px;
  height:150px;
}
#u18077 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18078_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u18078 {
  position:absolute;
  left:150px;
  top:568px;
  width:48px;
  height:5px;
}
#u18079 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18080 {
  position:absolute;
  left:1500px;
  top:0px;
  width:1024px;
  height:640px;
}
#u18081 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18082 {
  position:absolute;
  left:1500px;
  top:0px;
  width:76px;
  height:640px;
}
#u18083 {
  position:absolute;
  left:2px;
  top:312px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18084 {
  position:absolute;
  left:1513px;
  top:64px;
  width:50px;
  height:50px;
}
#u18085 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18087 {
  position:absolute;
  left:1526px;
  top:201px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18088 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u18089 {
  position:absolute;
  left:1519px;
  top:167px;
  width:38px;
  height:30px;
}
#u18090 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18092 {
  position:absolute;
  left:1526px;
  top:287px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18093 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u18094 {
  position:absolute;
  left:1521px;
  top:253px;
  width:34px;
  height:30px;
}
#u18095 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18097 {
  position:absolute;
  left:1526px;
  top:544px;
  width:25px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18098 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u18099 {
  position:absolute;
  left:1520px;
  top:510px;
  width:36px;
  height:30px;
}
#u18100 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u18102 {
  position:absolute;
  left:1521px;
  top:424px;
  width:35px;
  height:30px;
}
#u18103 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18104 {
  position:absolute;
  left:1526px;
  top:458px;
  width:25px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18105 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u18107 {
  position:absolute;
  left:1525px;
  top:338px;
  width:26px;
  height:30px;
}
#u18108 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u18109 {
  position:absolute;
  left:1514px;
  top:373px;
  width:49px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#99CCFF;
  text-align:center;
}
#u18110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18112 {
  position:absolute;
  left:1584px;
  top:196px;
  width:300px;
  height:88px;
}
#u18113 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18114 {
  position:absolute;
  left:1576px;
  top:196px;
  width:8px;
  height:88px;
}
#u18115 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18116 {
  position:absolute;
  left:1584px;
  top:215px;
  width:50px;
  height:50px;
}
#u18117 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18118 {
  position:absolute;
  left:1642px;
  top:231px;
  width:44px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18119 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u18120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18121 {
  position:absolute;
  left:1584px;
  top:0px;
  width:300px;
  height:108px;
}
#u18122 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18123 {
  position:absolute;
  left:1642px;
  top:55px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:108px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18125 {
  position:absolute;
  left:1576px;
  top:0px;
  width:8px;
  height:108px;
}
#u18126 {
  position:absolute;
  left:2px;
  top:46px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18127 {
  position:absolute;
  left:1584px;
  top:39px;
  width:50px;
  height:50px;
}
#u18128 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18130 {
  position:absolute;
  left:1584px;
  top:108px;
  width:300px;
  height:88px;
}
#u18131 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18132 {
  position:absolute;
  left:1584px;
  top:127px;
  width:50px;
  height:50px;
}
#u18133 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18134 {
  position:absolute;
  left:1642px;
  top:143px;
  width:65px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18135 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18136 {
  position:absolute;
  left:1576px;
  top:108px;
  width:8px;
  height:88px;
}
#u18137 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18139 {
  position:absolute;
  left:1584px;
  top:284px;
  width:300px;
  height:88px;
}
#u18140 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18141 {
  position:absolute;
  left:1576px;
  top:284px;
  width:8px;
  height:88px;
}
#u18142 {
  position:absolute;
  left:2px;
  top:36px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18143 {
  position:absolute;
  left:1584px;
  top:303px;
  width:50px;
  height:50px;
}
#u18144 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18145 {
  position:absolute;
  left:1642px;
  top:319px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18146 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18148 {
  position:absolute;
  left:1576px;
  top:372px;
  width:308px;
  height:88px;
}
#u18149 {
  position:absolute;
  left:2px;
  top:36px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18150 {
  position:absolute;
  left:1584px;
  top:391px;
  width:50px;
  height:50px;
}
#u18151 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18152 {
  position:absolute;
  left:1642px;
  top:407px;
  width:45px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18153 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18154 {
  position:absolute;
  left:1576px;
  top:460px;
  width:308px;
  height:180px;
}
#u18155 {
  position:absolute;
  left:2px;
  top:82px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18156 {
  position:absolute;
  left:1884px;
  top:20px;
  width:640px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18157 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u18158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u18159 {
  position:absolute;
  left:1892px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u18160 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u18162 {
  position:absolute;
  left:2481px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:right;
}
#u18163 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u18164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18164 {
  position:absolute;
  left:1884px;
  top:84px;
  width:640px;
  height:44px;
  font-size:12px;
}
#u18165 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18166 {
  position:absolute;
  left:1892px;
  top:94px;
  width:624px;
  height:25px;
}
#u18166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18167 {
  position:absolute;
  left:1892px;
  top:67px;
  width:193px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18168 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u18169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:398px;
}
#u18169 {
  position:absolute;
  left:1500px;
  top:242px;
  width:1024px;
  height:398px;
}
#u18170 {
  position:absolute;
  left:2px;
  top:191px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18171 {
  position:absolute;
  left:1300px;
  top:490px;
  width:150px;
  height:150px;
}
#u18172 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18173_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u18173 {
  position:absolute;
  left:1450px;
  top:568px;
  width:48px;
  height:5px;
}
#u18174 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18175_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u18175 {
  position:absolute;
  left:2526px;
  top:39px;
  width:74px;
  height:5px;
}
#u18176 {
  position:absolute;
  left:2px;
  top:-6px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18177 {
  position:absolute;
  left:2600px;
  top:0px;
  width:150px;
  height:150px;
}
#u18178 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18179 {
  position:absolute;
  left:2600px;
  top:164px;
  width:150px;
  height:150px;
}
#u18180 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18181 {
  position:absolute;
  left:2600px;
  top:327px;
  width:150px;
  height:150px;
}
#u18182 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u18183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18183 {
  position:absolute;
  left:584px;
  top:0px;
  width:640px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18184 {
  position:absolute;
  left:2px;
  top:2px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:21px;
}
#u18186 {
  position:absolute;
  left:200px;
  top:0px;
  width:1024px;
  height:20px;
}
#u18187 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u18188 {
  position:absolute;
  left:1189px;
  top:4px;
  width:27px;
  height:12px;
}
#u18189 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u18190 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u18191 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18192 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18193 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18194 {
  position:absolute;
  left:696px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18195 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u18196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18196 {
  position:absolute;
  left:1884px;
  top:0px;
  width:640px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
}
#u18197 {
  position:absolute;
  left:2px;
  top:2px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:21px;
}
#u18199 {
  position:absolute;
  left:1500px;
  top:0px;
  width:1024px;
  height:20px;
}
#u18200 {
  position:absolute;
  left:2px;
  top:2px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u18201 {
  position:absolute;
  left:2489px;
  top:4px;
  width:27px;
  height:12px;
}
#u18202 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u18203 {
  position:absolute;
  left:1508px;
  top:4px;
  width:17px;
  height:11px;
}
#u18204 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18205 {
  position:absolute;
  left:1527px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18206 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18207 {
  position:absolute;
  left:1996px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18208 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
