body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54707 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u54708 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54709 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:170px;
}
#u54710 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54712 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u54713 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u54714 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u54715 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u54716 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u54717 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u54718 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u54719 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u54720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u54720 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u54721 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u54722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u54722 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u54723 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54725 {
  position:absolute;
  left:313px;
  top:146px;
  width:17px;
  height:16px;
}
#u54726 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54727 {
  position:absolute;
  left:332px;
  top:146px;
  width:17px;
  height:16px;
}
#u54728 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54729 {
  position:absolute;
  left:352px;
  top:146px;
  width:17px;
  height:16px;
}
#u54730 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54731 {
  position:absolute;
  left:371px;
  top:146px;
  width:17px;
  height:16px;
}
#u54732 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u54733 {
  position:absolute;
  left:391px;
  top:146px;
  width:17px;
  height:16px;
}
#u54734 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54735 {
  position:absolute;
  left:200px;
  top:170px;
  width:320px;
  height:44px;
}
#u54736 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:center;
}
#u54737 {
  position:absolute;
  left:218px;
  top:182px;
  width:69px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#99CCFF;
  text-align:center;
}
#u54738 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u54739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:center;
}
#u54739 {
  position:absolute;
  left:435px;
  top:182px;
  width:69px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:center;
}
#u54740 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u54741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54741 {
  position:absolute;
  left:241px;
  top:206px;
  width:20px;
  height:4px;
}
#u54742 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u54743 {
  position:absolute;
  left:490px;
  top:33px;
  width:22px;
  height:18px;
}
#u54744 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u54745 {
  position:absolute;
  left:342px;
  top:74px;
  width:37px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u54746 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u54747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:center;
}
#u54747 {
  position:absolute;
  left:327px;
  top:182px;
  width:69px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  text-align:center;
}
#u54748 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u54749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u54749 {
  position:absolute;
  left:361px;
  top:524px;
  width:159px;
  height:44px;
  color:#FFFFFF;
}
#u54750 {
  position:absolute;
  left:2px;
  top:14px;
  width:155px;
  word-wrap:break-word;
}
#u54751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54751 {
  position:absolute;
  left:211px;
  top:343px;
  width:300px;
  height:30px;
}
#u54752 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54753 {
  position:absolute;
  left:213px;
  top:345px;
  width:157px;
  height:26px;
}
#u54754 {
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u54755 {
  position:absolute;
  left:319px;
  top:351px;
  width:85px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u54756 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u54757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u54757 {
  position:absolute;
  left:200px;
  top:524px;
  width:161px;
  height:44px;
  color:#FFFFFF;
}
#u54758 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u54759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u54759 {
  position:absolute;
  left:243px;
  top:537px;
  width:20px;
  height:18px;
}
#u54760 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u54761 {
  position:absolute;
  left:394px;
  top:537px;
  width:17px;
  height:18px;
}
#u54762 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u54763 {
  position:absolute;
  left:600px;
  top:418px;
  width:150px;
  height:150px;
}
#u54764 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u54765_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:130px;
  height:31px;
}
#u54765 {
  position:absolute;
  left:485px;
  top:544px;
  width:115px;
  height:5px;
}
#u54766 {
  position:absolute;
  left:2px;
  top:-6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
