body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27993 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:568px;
}
#u27994 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27996 {
  position:absolute;
  left:200px;
  top:0px;
  width:320px;
  height:20px;
}
#u27997 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u27998 {
  position:absolute;
  left:485px;
  top:4px;
  width:27px;
  height:12px;
}
#u27999 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u28000 {
  position:absolute;
  left:208px;
  top:4px;
  width:17px;
  height:11px;
}
#u28001 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28002 {
  position:absolute;
  left:227px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28003 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28004 {
  position:absolute;
  left:344px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28005 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u28006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u28006 {
  position:absolute;
  left:200px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u28007 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u28008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u28009 {
  position:absolute;
  left:224px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u28010 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u28011 {
  position:absolute;
  left:208px;
  top:33px;
  width:12px;
  height:18px;
}
#u28012 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u28013 {
  position:absolute;
  left:316px;
  top:117px;
  width:88px;
  height:88px;
}
#u28014 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u28015 {
  position:absolute;
  left:320px;
  top:215px;
  width:81px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u28016 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28017 {
  position:absolute;
  left:346px;
  top:234px;
  width:28px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28018 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u28019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28019 {
  position:absolute;
  left:261px;
  top:528px;
  width:199px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28020 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u28021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28021 {
  position:absolute;
  left:230px;
  top:543px;
  width:261px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28022 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u28023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#008000;
  text-align:center;
}
#u28023 {
  position:absolute;
  left:324px;
  top:497px;
  width:73px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#008000;
  text-align:center;
}
#u28024 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28025 {
  position:absolute;
  left:208px;
  top:308px;
  width:312px;
  height:44px;
  font-size:12px;
}
#u28026 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28027 {
  position:absolute;
  left:208px;
  top:323px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28028 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u28029 {
  position:absolute;
  left:505px;
  top:324px;
  width:7px;
  height:12px;
}
#u28030 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28031 {
  position:absolute;
  left:200px;
  top:352px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u28032 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28033 {
  position:absolute;
  left:208px;
  top:367px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28034 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u28035 {
  position:absolute;
  left:505px;
  top:368px;
  width:7px;
  height:12px;
}
#u28036 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28037 {
  position:absolute;
  left:200px;
  top:308px;
  width:8px;
  height:44px;
  font-size:12px;
}
#u28038 {
  position:absolute;
  left:2px;
  top:14px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28039 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u28040 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28041_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:63px;
  height:31px;
}
#u28041 {
  position:absolute;
  left:150px;
  top:40px;
  width:48px;
  height:5px;
}
#u28042 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28043 {
  position:absolute;
  left:0px;
  top:418px;
  width:150px;
  height:150px;
}
#u28044 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28045_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:179px;
  height:31px;
}
#u28045 {
  position:absolute;
  left:150px;
  top:502px;
  width:164px;
  height:5px;
}
#u28046 {
  position:absolute;
  left:2px;
  top:-6px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28047 {
  position:absolute;
  left:0px;
  top:188px;
  width:150px;
  height:150px;
}
#u28048 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28049_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:179px;
  height:31px;
}
#u28049 {
  position:absolute;
  left:150px;
  top:239px;
  width:164px;
  height:5px;
}
#u28050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28051 {
  position:absolute;
  left:600px;
  top:202px;
  width:150px;
  height:150px;
}
#u28052 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28053_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:93px;
  height:31px;
}
#u28053 {
  position:absolute;
  left:522px;
  top:324px;
  width:78px;
  height:5px;
}
#u28054 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28055 {
  position:absolute;
  left:600px;
  top:400px;
  width:150px;
  height:150px;
}
#u28056 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28057_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:291px;
  height:31px;
}
#u28057 {
  position:absolute;
  left:522px;
  top:375px;
  width:276px;
  height:5px;
}
#u28058 {
  position:absolute;
  left:2px;
  top:-6px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28059 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:568px;
}
#u28060 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28062 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:20px;
}
#u28063 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u28064 {
  position:absolute;
  left:1085px;
  top:4px;
  width:27px;
  height:12px;
}
#u28065 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u28066 {
  position:absolute;
  left:808px;
  top:4px;
  width:17px;
  height:11px;
}
#u28067 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28068 {
  position:absolute;
  left:827px;
  top:2px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28069 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28070 {
  position:absolute;
  left:944px;
  top:2px;
  width:32px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28071 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u28072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u28072 {
  position:absolute;
  left:800px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u28073 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u28074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u28075 {
  position:absolute;
  left:824px;
  top:32px;
  width:35px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u28076 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u28077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u28077 {
  position:absolute;
  left:808px;
  top:33px;
  width:12px;
  height:18px;
}
#u28078 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u28079 {
  position:absolute;
  left:916px;
  top:117px;
  width:88px;
  height:88px;
}
#u28080 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u28081 {
  position:absolute;
  left:920px;
  top:215px;
  width:81px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u28082 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28083 {
  position:absolute;
  left:946px;
  top:234px;
  width:28px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28084 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u28085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28085 {
  position:absolute;
  left:861px;
  top:528px;
  width:199px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28086 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u28087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28087 {
  position:absolute;
  left:830px;
  top:543px;
  width:261px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u28088 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u28089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#008000;
  text-align:center;
}
#u28089 {
  position:absolute;
  left:924px;
  top:497px;
  width:73px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#008000;
  text-align:center;
}
#u28090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28091 {
  position:absolute;
  left:808px;
  top:308px;
  width:312px;
  height:44px;
  font-size:12px;
}
#u28092 {
  position:absolute;
  left:2px;
  top:14px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28093 {
  position:absolute;
  left:808px;
  top:323px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28094 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u28095 {
  position:absolute;
  left:1105px;
  top:324px;
  width:7px;
  height:12px;
}
#u28096 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28097 {
  position:absolute;
  left:800px;
  top:352px;
  width:320px;
  height:44px;
  font-size:12px;
}
#u28098 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28099 {
  position:absolute;
  left:808px;
  top:367px;
  width:49px;
  height:15px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28100 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u28101 {
  position:absolute;
  left:1105px;
  top:368px;
  width:7px;
  height:12px;
}
#u28102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28103 {
  position:absolute;
  left:800px;
  top:308px;
  width:8px;
  height:44px;
  font-size:12px;
}
#u28104 {
  position:absolute;
  left:2px;
  top:14px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28105 {
  position:absolute;
  left:800px;
  top:0px;
  width:320px;
  height:568px;
}
#u28106 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28108 {
  position:absolute;
  left:835px;
  top:174px;
  width:250px;
  height:132px;
}
#u28109 {
  position:absolute;
  left:2px;
  top:42px;
  width:246px;
  word-wrap:break-word;
}
#u28110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28110 {
  position:absolute;
  left:835px;
  top:306px;
  width:125px;
  height:44px;
}
#u28111 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u28112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28112 {
  position:absolute;
  left:960px;
  top:306px;
  width:125px;
  height:44px;
}
#u28113 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u28114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28114 {
  position:absolute;
  left:1200px;
  top:299px;
  width:150px;
  height:150px;
}
#u28115 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u28116 {
  position:absolute;
  left:1200px;
  top:129px;
  width:150px;
  height:150px;
}
#u28117 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u28118_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:204px;
  height:31px;
}
#u28118 {
  position:absolute;
  left:1011px;
  top:222px;
  width:189px;
  height:5px;
}
#u28119 {
  position:absolute;
  left:2px;
  top:-6px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28120_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:130px;
  height:31px;
}
#u28120 {
  position:absolute;
  left:1085px;
  top:324px;
  width:115px;
  height:5px;
}
#u28121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
